{% extends "base.html" %}

{% block title %}
Hotel notifications
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-5 h1">Edit notification:</div>
    </div>
    <form id="notification_form" action="{{ url_for('edit_notification', notification_id=notif_obj.id) }}"
        method="POST">
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="room_number">Room number:</label></div>
            <div class="col-6">
                <input type="text" id="room_number" name="room_number" value="{{ notif_obj.room_number }}"
                    class="form-control"><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="guest_name">Guest name:</label></div>
            <div class="col-6">
                <input type="text" id="guest_name" name="guest_name" value="{{ notif_obj.guest_name }}"
                    class="form-control"><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="notification_text">Notification text:</label></div>
            <div class="col-6">
                <textarea rows="4" cols="50" id="notification_text" name="notification_text"
                    class="form-control">{{ notif_obj.notification }}</textarea><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="priority">Select priority:</label></div>
            <div class="col-6">
                <select name="priority" id="priority">
                    {% for priority in list_of_priorities %}
                    <option value="{{ priority.code }}" {{ 'selected' if priority.code==notif_obj.priority}}>
                        {{ priority.description }}
                    </option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"></div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>
{% endblock %}