{% extends "base.html" %}

{% block body_header %}
<h1>Enter Notification Details:</h1>
{% endblock %}
{% block content %}
<div class="container">
    <form id="exchange_form" action="{{ url_for('notification') }}" method="POST">
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="room_number">Room number:</label></div>
            <div class="col-6">
                <input type="text" id="room_number" name="room_number" value="" class="form-control"><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="guest_name">Guest name:</label></div>
            <div class="col-6">
                <input type="text" id="guest_name" name="guest_name" value="" class="form-control"><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="notification_text">Notification text:</label></div>
            <div class="col-6">
                <textarea rows="4" cols="50" id="notification_text" name="notification_text" value=""
                    class="form-control"></textarea><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"><label for="priority">Select priority:</label></div>
            <div class="col-6">
                <select name="priority" id="priority">
                    {% for priority in list_of_priorities %}
                    <option value="{{ priority.code }}" {{ 'selected' if priority.selected}}>{{ priority.description }}
                    </option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col-3 col-form-label"></div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>
{% endblock %}