{% extends "base.html" %}

{% block title %}
New idea trip
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col h2 text-center text-black">Welcome to our new website, where you can share your ideas for
            holiday trips</div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='Wycieczki.png') }}" class="d-block" alt="..."
                                style="width: 90%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='ideas2.png') }}" class="d-block" alt="..."
                                style="width: 90%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='idea.png') }}" class="d-block" alt="..."
                                style="width: 90%;">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-8 with-margin text-black">New Trip Holiday &trade; registered in Warsaw</div>
        <div class="col-4 with-margin text-black" style="text-align: right;">&copy; 2005</div>
    </div>
</div>
{% endblock %}